@import 'partial/_common'

.mdl-card
	width 100%
	min-height auto
	margin 16px auto
	padding 24px

.mod-inputUrl
	.inputUrl-item
		font-size 0
		&:nth-child(n+6)
			display none
		.material-icons
			vertical-align middle
			margin-right 8px
	.mdl-textfield
		// width calc(100% - 32px)
		width 100%
.btn-add
	display block
	margin-left auto


.mod-inputDate
	display flex
	justify-content space-between
	.inputDate-item
		width 48%
	.mdl-textfield
		width 100%

.flatpickr-day
	&.today
		&:hover,
		&:focus
			border-color rgb(233,30,99)
			background rgb(233,30,99)

.btn-send
	display block
	height 56px
	padding 0 56px
	line-height 56px
	margin auto
	font-size 18px
	.material-icons
		margin-left 8px
		vertical-align text-bottom
		

ol,
li
	list-style-type decimal
	font-size 2px